<ul role="menu" id="accordion" class="accordion">
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a [routerLink]="['/home']" class="active" role="menuitem">OMHS Home</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">About OMHS</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">Brian C. Allen, MSTOM</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">Rates</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">Contact</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">Locations</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">
      <a href="#" role="menuitem">OMHS Blog</a>
    </div>
  </li>
  <li role="none" tabindex="-1">
    <div class="link" role="presentation">Extras
      <fa-icon [icon]="open"></fa-icon>
    </div>
    <ul class="submenu" role="menu">
      <li role="none" tabindex="-1">
        <a href="#" role="menuitem">Extra Services</a>
      </li>
      <li role="none" tabindex="-1">
        <a href="#" role="menuitem">Links</a>
      </li>
      <li role="none" tabindex="-1">
        <a href="#" role="menuitem">Paperwork</a>
      </li>
      <li role="none" tabindex="-1">
        <a href="#" role="menuitem">Photo Gallery</a>
      </li>
      <li role="none" tabindex="-1">
        <a href="#" role="menuitem">Books</a>
      </li>
    </ul>
  </li>
</ul>