<div class="page-grid">
  <section class="callout" *ngIf="!sizeMobile">
    <p>Convenient locations in Wilmington and Middletown, Delaware</p>
    <p>Call to schedule 302-792-2831</p>
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <img class="banner" src="../../../assets/images/banner_about.jpg" />
  <main>
    <h3>
      About Oriental Medicine and Health Services
    </h3>
    <p>
      Currently, OMHS is a one man operation with Brian C. Allen, MSTOM at the helm.
    </p>
    <p>
      One mission of OMHS is to provide its clients, customers, and students with opportunities to create healthier lives for themselves.
      The vehicles for this are the medical and health practices of Asian countries.
    </p>
    <p>
      OMHS, founded in 2005, is an approximately 1,200 sq. ft. facility. There are 2 treatment rooms, a business office, an herbal
      dispensary, a restroom, a small store-front / sales counter, a waiting area, and a larger area in which classes are
      taught. This larger area is also where public lectures / presentations are
      <a title="Specials/Events" href="specials.html">held monthly</a>.
    </p>
    <p>
      Currently, the following services are being offered:
    </p>
    <ul>
      <li>
        <a title="Acupuncture" href="/acupuncture/default_new.html">Acupuncture</a>
      </li>
      <li>
        <a title="T'ai Chi" href="/taichi/default_new.html">T'ai Chi</a> (Taiji)
      </li>
      <li>
        <a title="Qigong" href="/qigong/default_new.html">Qigong</a> (Ch'i Kung)
      </li>
      <li>
        <a title="Tuina Bodywork" href="/tuina/default_new.html">Tuina Bodywork</a>
      </li>
      <li>
        <a title="Chinese Herbology" href="/herbology/default_new.html">Chinese Herbology</a>
      </li>
      <li>
        <a title="Addiction Therapy" href="/addictiontherapy/default_new.html">Addiction Therapy</a>
      </li>
    </ul>
    <p>
      Chinese herbal remedies can also be purchased at OMHS. If it is not currently in stock, then it can be ordered.
    </p>
    <p>
      Now is the time for you to get on track by starting to make your life a healthier one. Do it at OMHS in Wilmington, Delaware,
      or at my satellite location in Middletown, Delaware.
    </p>
  </main>
</div>