<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/tai_chi.jpg" alt="People doing T'ai Chi" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>T’ai Chi History—The Daoist Legend</h2>
    <img class="float-right" src="../../../assets/images/zhang_sanfeng.jpg" alt="Zhang Sanfeng" />
    <h3>Zhang Sanfeng</h3>
    <p><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-zhang-sanfeng">Zhang Sanfeng</a> was a 12th century Daoist (some date to 10th century) that happened upon a fight between a <a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-crane-snake">crane and a snake</a>. Afterwards, Zhang contemplated upon this experience and developed a new Martial Art form that relied upon Internal Power, or Chi, at its root. This art held as its foundation the Truth that 'yielding overcomes aggression' and 'softness overpowers hardness'. He called his art Tai Chi Chuan, the 'Grand Ultimate Fist'.</p>
    <ul>
      <li>There are many variations to this legend:
        <ul>
          <li>Some stories claim he was Buddhist and from the Shaolin Temple.</li>
          <li>Founder of the Daoist monasteries and traditions in the Wudang Mountains.</li>
          <li>Not credited as founder of T'ai Chi until the 19th century.</li>
        </ul>
      </li>
    </ul>
    <h3>Zhang Sanfeng Lineage</h3>
		<ul>
			<li>Zhang Sanfeng</li>
			<li>Zhang Sungqi</li>
			<li>Wang Congyue</li>
			<li>Jiang Fa</li>
			<li>Chen Changxin (14th generation Chen)</li>
			<li>Yang Luchan</li>
		</ul>
		<h3>Historical Records</h3>
		<ul>
			<li>T'ai Chi came from the Chen family village.</li>
			<li>Chen Wangting (1600-1680)
				<ul>
					<li>9th generation Chen family patriarch.</li>
					<li>Existing Chen family martial arts.</li>
					<li>Combined with other martial arts of Shaolin origin.</li>
					<li>Added principles of Chinese Medicine (jingluo and jingmai theory).</li>
					<li>Also added daoyin and tuna (deep breathing).</li>
				</ul>
			</li>
    </ul>
    <h3>The <a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-jiang-fa">Jiang Fa</a> Connection</h3>
		<ul>
			<li>Jiang Fa was a servant in the Chen village, but was very good friends with Chen Wangting.
				<ul>
					<li>Many sources link Jiang Fa with Chen Changxing (14th generation).</li>
					<li>Unclear what impact Jiang Fa may have had.</li>
				</ul>
			</li>
		</ul>
		<h3><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-chen-changxing">Chen Changxing</a> (1771&ndash;1853)</h3>
		<ul>
			<li>14th generation Chen family.</li>
			<li>Took existing forms and combined them into two sets.</li>
			<li>Now called laojia (old frame).
				<ul>
					<li>xinjia (new frame) – Chen Fake, 17th generation Chen family.</li>
				</ul>
			</li>
			<li>Taught his servant Yang Luchan.</li>
		</ul>
		<h3>Yang Style T'ai Chi (1799&ndash;1872).</h3>
		<ul>
			<li>Founded by <a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-yang-luchan">Yang Luchan</a>
				<ul>
					<li>Moved to Beijing.</li>
					<li>1st to publicly teach t’ai chi.</li>
					<li>Famous fighter (Yang the Invincible).</li>
				</ul>
			</li>
			<li>"softened" over the years.</li>
			<li>Most popular and widely practiced style of t'ai chi.</li>
		</ul>
		<h3><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-zheng-manqing">Zheng Manqing</a> (1902&ndash;1975)</h3>
		<ul>
			<li>Studied with 3rd generation Yang style leader Yang Chengfu.</li>
			<li>Master of the five excellences.
				<ul>
					<li>Chinese medicine, martial arts, calligraphy, painting, poetry.</li>
				</ul>
			</li>
			<li>Created the 37-move short form.</li>
			<li>This form is taught at OMHS.</li>
		</ul>
		<h3>The Other 3 Styles of T'ai Chi</h3>
		<ul>
			<li>Wu Hao style is 2 generations removed from 14th generation Chen style leader Chen Changxing and founded by Wu Yuxiang (1812&ndash;1880).</li>
			<li>Sun style founder Sun Lutang (1861&ndash;1932) came from the Wu Hao lineage.</li>
			<li>Wu style founder Wu Quanyou (1834&ndash;1902) studied with Yang Luchan and his son Yang Banhou.</li>
		</ul>

    <div id="tooltip-container"></div>
    <div class="tooltip-html">
      <div id="tooltip-zhang-sanfeng"><img src='../../../assets/images/zhang_sanfeng_lrg.jpg' alt="Zhang Sanfeng (enlarged)"/><em>Zhang Sanfeng (enlarged)</em></div>
      <div id="tooltip-crane-snake"><img src='../../../assets/images/snake_crane.jpg' alt="Crane &amp; Snake"/><em>Crane and Snake</em></div>
      <div id="tooltip-jiang-fa"><img src='../../../assets/images/jiang_fa.jpg' alt="Jiang Fa"/><em>Jiang Fa</em></div>
      <div id="tooltip-chen-changxing"><img src='../../../assets/images/chen_changxing.jpg' alt="Chen Changxing"/><em>Chen Changxing</em></div>
      <div id="tooltip-yang-luchan"><img src='../../../assets/images/yang_luchan.jpg' alt="Yang Luchan"/><em>Yang Luchan</em></div>
      <div id="tooltip-zheng-manqing"><img src='../../../assets/images/zheng_manqing.jpg' alt="Zheng Manqing"/><em>Zheng Manqing</em></div>
    </div>
  </main>
</div>