<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/tai_chi.jpg" alt="People doing T'ai Chi" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Structure &amp; Movements</h2>
    <img class="float-right" src="../../../assets/images/tai_chi_structure2.jpg" alt="Brian performing a T'ai Chi structure" />
    <h3>Body Structure and T'ai Chi</h3>
		<ul>
			<li>Erect and upright but not stiff</li>
			<li>Relaxed but not flimsy</li>
			<li>Particular attention to alignment and angles of major moveable joints</li>
		</ul>
		<h3>The Movements in T'ai Chi</h3>
		<ul>
			<li>Continually spiraling, coiling, and flowing</li>
			<li>Gentle and firm</li>
			<li>Rising and sinking</li>
			<li>Contracting and expanding</li>
			<li>Body moves as a whole unit</li>
			<li>Combined with natural deep breathing and full mental intention (yi)</li>
		</ul>
		<h3>How long does it take to learn?</h3>
		<ul>
			<li>Practice, practice, practice is the key</li>
			<li>Basic physical aspects of the form can take 6 to 12 months</li>
			<li>More details get added</li>
			<li>Mental intention (yi) aspect of T’ai Chi takes longer to learn and requires commitment</li>
			<li>Did I mention that regular practice is essential?</li>
		</ul>
		<h3>Can anyone learn T'ai chi?</h3>
		<ul>
			<li>Requires physical and mental effort
				<ul>
					<li>Generally not suitable for children</li>
				</ul>
			</li>
			<li>Develop at your own pace
				<ul>
					<li>Regardless of physical condition</li>
					<li>Not a competition</li>
				</ul>
			</li>
		</ul>
		<h3>T'ai Chi vs. Qigong</h3>
		<ul>
			<li>Physical aspects of T'ai Chi (the form) take longer to learn than shorter Qigong exercises</li>
			<li>Mental intention (yi) aspects of Qigong are focused on more immediately</li>
			<li>Qigong and T’ai Chi classes at OMHS are designed to integrate with one another</li>
			<li>Both have similar health goals and benefits</li>
		</ul>
  </main>
</div>