<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/qigong.jpg" alt="Statue" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Qigong Benefits</h2>
    <h3>Who can benefit from Qigong?</h3>
		<ul>
			<li>Everyone
				<ul>
					<li>Regardless of ability, belief system, or life circumstances.</li>
				</ul>
			</li>
			<li>Slow gentle movements can be easily adapted, even for the physically challenged.</li>
			<li>Can be practiced by all age groups.
				<ul>
					<li>Western scientific research confirms that Qigong reduces hypertension and the incidence of falling in the aged population.</li>
				</ul>
			</li>
			<li>Children
				<ul>
					<li>Channel their energy.</li>
					<li>Develop increased concentration.</li>
				</ul>
			</li>
			<li>Office workers
				<ul>
					<li>Reduce stress.</li>
				</ul>
			</li>
			<li>Seniors
				<ul>
					<li>Enhance balance andlife quality.</li>
				</ul>
			</li>
			<li>Caregivers
				<ul>
					<li>Further develop ability to help others.</li>
				</ul>
			</li>
		</ul>
		<h3>Benefits of Qigong</h3>
		<ul>
			<li>Cardiovascular
				<ul>
					<li>Lower resting heart rate; normalized EKG, blood pressure, and cholesterol levels.</li>
				</ul>
			</li>
			<li>Respiratory
				<ul>
					<li>Slower respiratory rate improves gaseous exchange; significant benefits for asthma and bronchitis.</li>
				</ul>
			</li>
			<li>Immune System
				<ul>
					<li>Better targeting of antigens.</li>
				</ul>
			</li>
			<li>Circulation
				<ul>
					<li>Improves microcirculation, prevents vascular spasms, helpful for angina, migraine, and Reynaud's Syndrome (cold hands and feet).</li>
				</ul>
			</li>
			<li>Brain
				<ul>
					<li>Improves cerebral blood flow, less incidence of stroke; reduction in frequency and intensity of seizure disorders; slow, high amplitude brainwaves suggest relaxed and integrated state of mind.</li>
				</ul>
			</li>
			<li>Musculoskeletal
				<ul>
					<li>Improves posture, balance, strength, stamina, flexibility.</li>
				</ul>
			</li>
			<li>Chronic Pain
				<ul>
					<li>Pain reduction from all causes, including injury, surgery, arthritis, and fibromyalgia.</li>
				</ul>
			</li>
			<li>Mental Health
				<ul>
					<li>Decreases stress response, Type A traits, anxiety, obsessive-compulsive traits, and depression; improves memory and interpersonal sensitivity.</li>
				</ul>
			</li>
			<li>Longevity
				<ul>
					<li>Improves blood pressure, vital capacity, cholesterol and hormone levels, kidney function, mental acuity, vision and hearing, skin elasticity, bone density, immune function, digestion, balance, flexibility, strength, and libido.</li>
				</ul>
			</li>
		</ul>
  </main>
</div>