<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" alt="Acupuncture Needles" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Acupuncture Needles</h2>
    <img src="../../../assets/images/needle_sizes.jpg" alt="Acupuncture Needle Sizes" />
    <ul>
      <li>The needles are very fine and flexible, slightly thicker than a hair.</li>
      <li>Single use, stainless steel, and sterile.</li>
      <li>Disposed by way of a medical hazardous waste company.</li>
    </ul>
    <table cellpadding="0" cellspacing="0" border="1" id="tbl_needleGauge">
      <tbody>
        <tr>
          <th colspan="5">NEEDLE GAUGES</th>
        </tr>
        <tr>
          <th>
            <strong>Korean &amp; Japanese Gauge</strong>
          </th>
          <th>
            <strong>Chinese Gauge</strong>
          </th>
          <th>
            <strong>Thickness (mm)</strong>
          </th>
          <th>
            <strong>Thickness (inches)</strong>
          </th>
          <th>
            <strong>Color</strong>
          </th>
        </tr>
        <tr>
          <td>00</td>
          <td>-</td>
          <td>0.12</td>
          <td>0.0047</td>
          <td class="darkGreen">Dark Green</td>
        </tr>
        <tr>
          <td>0</td>
          <td>-</td>
          <td>0.14</td>
          <td>0.0055</td>
          <td class="limeGreen">Lime Green</td>
        </tr>
        <tr>
          <td>1</td>
          <td>40</td>
          <td>0.16</td>
          <td>0.0063</td>
          <td class="red">Red</td>
        </tr>
        <tr>
          <td>2</td>
          <td>38</td>
          <td>0.18</td>
          <td>0.0071</td>
          <td class="ivory">Ivory</td>
        </tr>
        <tr>
          <td>3</td>
          <td>36</td>
          <td>0.20</td>
          <td>0.0079</td>
          <td class="blue">Blue</td>
        </tr>
        <tr>
          <td>-</td>
          <td>34</td>
          <td>0.22</td>
          <td>0.0087</td>
          <td class="pink">Pink</td>
        </tr>
        <tr>
          <td>5</td>
          <td>32</td>
          <td>0.25</td>
          <td>0.0098</td>
          <td class="purple">Purple</td>
        </tr>
        <tr>
          <td>8</td>
          <td>30</td>
          <td>0.30</td>
          <td>0.0118</td>
          <td class="brown">Brown</td>
        </tr>
        <tr>
          <td>-</td>
          <td>28</td>
          <td>0.35</td>
          <td>0.0137</td>
          <td>-</td>
        </tr>
        <tr>
          <td>-</td>
          <td>26</td>
          <td>0.40</td>
          <td>0.0157</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="1" id="tbl_needleLengths">
      <tbody>
        <tr>
          <th colspan="11">NEEDLE LENGTHS</th>
        </tr>
        <tr>
          <td>
            <strong>mm</strong>
          </td>
          <td>13</td>
          <td>15</td>
          <td>25</td>
          <td>30</td>
          <td>40</td>
          <td>50</td>
          <td>60</td>
          <td>75</td>
          <td>100</td>
          <td>125</td>
        </tr>
        <tr>
          <td>
            <strong>inches</strong>
          </td>
          <td>0.5</td>
          <td>0.6</td>
          <td>1.0</td>
          <td>1.2</td>
          <td>1.5</td>
          <td>2.0</td>
          <td>2.5</td>
          <td>3.0</td>
          <td>4.0</td>
          <td>5.0</td>
        </tr>
      </tbody>
    </table>
    <h3>Treatments</h3>
    <ul>
      <li>It takes a few minutes to insert the needles.</li>
      <li>Once in, needle retention time varies (0-30 minutes).
        <ul>
          <li>Deqi is most important</li>
          <li>Age, constitution, relative strength
            <ul>
              <li>very young, old, frail, tired, weak - less time</li>
              <li>stronger, healthier - more time</li>
            </ul>
          </li>
          <li>Type of condition
            <ul>
              <li>deficient - less time</li>
              <li>excess or musculoskeletal - more time</li>
            </ul>  
          </li>
        </ul>
      </li>
      <li>Needle techniques
        <ul>
          <li>The way the needle gets inserted and removed</li>
          <li>Manipulations of the needle while in place</li>
        </ul>
      </li>
      <li>Needling order - general guidelines
        <ul>
          <li>Face and body first, then extremities</li>
          <li>Top to bottom, and front to back</li>
        </ul>
      </li>
      <li>Needle removal order - general guidelines
        <ul>
          <li>Face and body first, then extremities</li>
          <li>Top to bottom, and front to back</li>
        </ul>
      </li>
    </ul>
  </main>
</div>