<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/tai_chi.jpg" alt="People doing T'ai Chi" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Benefits of T'ai Chi</h2>
    <h3>There are many proven benefits to practicing T'ai Chi:</h3>
    <ul>
      <li>Exercises the muscles, joints, organs, glands, and tissues of your body.</li>
      <li>Can heal chronic health problems, joint and back injuries.</li>
      <li>Increases energy and improves circulation.</li>
      <li>Increases energy and improves circulation.</li>
      <li>Reduces mental and physical tension.</li>
      <li>Yields more restful, peaceful sleep.</li>
      <li>Strengthens the immune system.</li>
      <li>Improves digestion.</li>
      <li>Stabilizes blood pressure.</li>
      <li>Reverses many symptoms associated with the "normal" aging process.</li>
      <li>Restores youthful flexibility, balance, and stamina.</li>
      <li>Makes you stronger, healthier, and more vibrant with the years.</li>
    </ul>
    <img src="../../../assets/images/tai_chi_structure.jpg" alt="Brian showing T'ai Chi structure" />
  </main>
</div>