<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/qigong.jpg" alt="Statue" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Qigong at OMHS</h2>
    <img class="brian" src="../../../assets/images/qigong_brian.jpg" title="Brian demonstrating Qigong" alt="Brian demonstrating Qigong" />
    <ul>
			<li>Draw upon Spiritual, Martial, and Medical.
				<ul>
					<li>Maximize the health benefits.</li>
				</ul>
			</li>
			<li>Physical emphasis on alignment of strong, yet relaxed structure.</li>
			<li>Whole body movement coordinated with deep reverse abdominal breathing.</li>
			<li>Mental emphasis on relaxed, yet clear and focused mind.</li>
		</ul>
		<h3>A Typical Class at OMHS</h3>
		<ul>
			<li>Sitting Qigong.
				<ul>
					<li>Very similar to Zazen.</li>
					<li>Mental emphasis.</li>
				</ul>
			</li>
			<li>Daoyin "warm-up" exercises.</li>
			<li>Standing Qigong (5 postures).
				<ul>
					<li>Structure, mind, and breathing.</li>
				</ul>
			</li>
			<li>Moving Qigong (chansijing - silk reeling).
				<ul>
					<li>Structure, mind, breathing, whole body movement.</li>
				</ul>
			</li>
		</ul>
		<h3>The Yi leads the Qi</h3>
		<ul>
			<li>Development of Yi (focused mental intention) is absolutely essential.</li>
			<li>Without it, there is no Qigong.</li>
			<li>Takes time to understand and develop.</li>
			<li>Once you can effectively use your Yi to lead your Qi, then you can also use it to "lead" / affect the Qi of others for healing purposes.</li>
		</ul>
		<h3>Qigong Deviation</h3>
		<ul>
			<li>Incorrect practice of Qigong exercise can lead to some somatic or psychological disturbances.
				<ul>
					<li>Qigong psychosis.</li>
					<li>Effects are temporary.</li>
				</ul>
			</li>
			<li>Diagnosis has been accepted by the Chinese Classification of Mental Disorders (CCMD-2) and the 4th edition of the Diagnostic and Statistical Manual of Mental Disorders.</li>
			<li>Having a qualified instructor and practicing as taught is important.</li>
		</ul>
  </main>
</div>