<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" >
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>The History of Acupuncture</h2>
    <p class="sub-head">The following is a brief overview and is not meant to be exhaustive.</p>
    <h3>The Stone Age</h3>
    <ul>
      <li>Bian shi - sharpened stones were used for acupuncture.
        <ul>
          <li>These bian shi date back to 3000 BCE.</li>
          <li>Bloodletting may have been a precursor to acupuncture.</li>
        </ul>
      </li>
      <li>Evidence shows the use of bone fragments, fish bones, and bamboo for needles as well.</li>
      <li>With the Bronze Age came bronze needles, but the stone needles were still the most widely used.</li>
    </ul>
    <h3>475 BCE&ndash;24 CE</h3>
    <ul>
      <li>The feudal system in China was established and strengthened.</li>
      <li>With it, came iron weapons.</li>
      <li>Stone needles were then replaced with iron needles.</li>
      <li>Gold and silver needles were also used, but to a lesser extent.</li>
    </ul>
    <h3>Ancient Texts</h3>
    <ul>
      <li>The writing for "acupuncture" was found on bone and tortoise shell inscriptions from 1800 BCE.</li>
      <li>Several historical texts from the 4th and 5th centuries BCE make mention of acupuncture.</li>
      <li>The <a href="https://en.wikipedia.org/wiki/Mawangdui" target="_blank">Mawangdui</a> medical manuscripts from the 3rd century BCE detail the acupuncture meridians, but make no mention of actual needling.</li>
      <li>Huangdi's Internal Classic &ndash; around 250 BCE.
        <ul>
          <li>The first and most famous text detailing Chinese medical theory.</li>
          <li>Acupuncture points, types of needles, needling techniques, and treatments are all detailed.</li>
        </ul>
      </li>
      <li>Systematic Classic of Acupuncture and Moxibustion &ndash; 260 CE.
        <ul>
          <li>This text is comprised of 12 volumes detailing 349 acupuncture points.</li>
          <li>It is a complete clinical manual / textbook.</li>
        </ul>
      </li>
    </ul>
  </main>
</div>  