<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" >
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>The History of Acupuncture</h2>
    <p>The following is a brief overview and is not meant to be exhaustive.</p>
    <h3>The Stone Age</h3>
    <ul>
      <li>Bian shi - sharpened stones were used for acupuncture.
        <ul>
          <li>These bian shi date back to 3000 BCE.</li>
          <li>Bloodletting may have been a precursor to acupuncture.</li>
        </ul>
      </li>
      <li>Evidence shows the use of bone fragments, fish bones, and bamboo for needles as well.</li>
      <li>With the Bronze Age came bronze needles, but the stone needles were still the most widely used.</li>
    </ul>
    <h3>475 BCE&ndash;24 CE</h3>
    <ul>
      <li>The feudal system in China was established and strengthened.</li>
      <li>With it, came iron weapons.</li>
      <li>Stone needles were then replaced with iron needles.</li>
      <li>Gold and silver <a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-needles">needles</a> were also used, but to a lesser extent.</li>
    </ul>
    <h3>Ancient Texts</h3>
    <ul>
      <li>The writing for "acupuncture" was found on bone and tortoise shell inscriptions from 1800 BCE.</li>
      <li>Several historical texts from the 4th and 5th centuries BCE make mention of acupuncture.</li>
      <li>The <a href="https://en.wikipedia.org/wiki/Mawangdui" target="_blank">Mawangdui</a> medical manuscripts from the 3rd century BCE detail the acupuncture meridians, but make no mention of actual needling.</li>
      <li>Huangdi's Internal Classic &ndash; around 250 BCE.
        <ul>
          <li>The first and most famous text detailing Chinese medical theory.</li>
          <li>Acupuncture points, types of needles, needling techniques, and treatments are all detailed.</li>
        </ul>
      </li>
      <li>Systematic Classic of Acupuncture and Moxibustion &ndash; 260 CE.
        <ul>
          <li>This text is comprised of 12 volumes detailing 349 acupuncture points.</li>
          <li>It is a complete clinical manual / textbook.</li>
        </ul>
      </li>
    </ul>
    <h3>The Bronze Man</h3>
    <ul>
      <li>Wang Weiyi (987-1067 CE) wrote The Illustrated Manual on Points for Acupuncture and Moxibustion which included the descriptions of 657 points.</li>
      <li>He also cast two <a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-bronze-statues">bronze statues</a> on which meridians and points were engraved for teaching purposes.</li>
    </ul>
    <h3>Ming Dynasty &ndash; 1368 &#45; 1644 CE</h3>
    <ul>
      <li>This time period is considered the climax of Chinese medical theory and acupuncture.</li>
      <li>Extensive collections and revisions of were made of existing literature.</li>
    </ul>
    <h3>Qing Dynasty &ndash; 1644 &#45; 1911 CE</h3>
    <ul>
      <li>For varioius reasons, including politics, herbal medicine was regarded as superior to acupuncture.</li>
      <li>In 1822, acupuncture was banned from the Imperial Medical College.</li>
    </ul>
    <h3>Chinese Nationalist Party</h3>
    <ul>
      <li>After 1911, traditional medicine in China was discouraged and Western Biomedicine was introduced.</li>
      <li>Acupuncture remained popular among the common folk, and the "barefoot doctors" emerged.</li>
    </ul>
    <h3>The People's Republic of China</h3>
    <ul>
      <li>In 1950, Chairman Mao Zedong adopted policies that revitalized acupuncture and traditional medicine in China.</li>
      <li>A review of important medical texts was done which led to TCM (Traditional Chinese Medicine).</li>
      <li>From 1970 to today China has paved the way with extensive scientific research on Acupuncture.</li>
    </ul>
    <h3>Acupuncture in Europe</h3>
    <ul>
      <li>The first European acupuncture publication was published in 1658 in Holland by the Dutch doctor Jakob de Bondt.</li>
      <li>European acupuncture then developed independently from that in China.</li>
      <li>Electro-acupuncture and auricular-acupuncture were pioneered in Europe and then later adopted in China.</li>
    </ul>
    <h3>Acupuncture in the USA</h3>
    <ul>
      <li>In 1826 in the USA, the first acupuncture publication was by Bache Franklin M.D., great grandson of Benjamin Franklin.</li>
      <li>After the 1920's, acupuncture was very rare outside of Chinatowns.</li>
      <li>In 1971, NY Times reporter James Reston had surgery with acupuncture anesthesia and also post-op pain relief by Acupuncture. This brought much publicity to acupuncture.</li>
      <li>The first Chinese Medical Schools appeared in the 1970s, and now there are over 40 such accredited colleges.</li>
      <li>In 1996, acupuncture needles were changed from the "investigative" category to accepted medical instruments by the FDA.</li>
      <li>In 1997, The National Institutes of Health issued the Consensus Statement that recognized that "Acupuncture as a therapeutic intervention is widely practiced in the United States" and "may be useful as an adjunct treatment or an acceptable alternative or be included in a comprehensive management program."</li>
    </ul>

    <div id="tooltip-container"></div>
    <div class="tooltip-html">
      <div id="tooltip-needles"><img src='../../../assets/images/needles_113BC.jpg' alt="acupuncture needles form 113 BC"/><em>needles 113 BC</em></div>
      <div id="tooltip-bronze-statues"><img src='../../../assets/images/bronzeman.jpg' alt="Bronze Statue"/></div>
    </div>
  </main>
</div>  