@charset "UTF-8";
/* CSS Document */

.category_header {
	margin: 0 0 12px 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
}

.category_subheader {
	margin: 0 0 12px 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}

.category_normal {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
}

.float_image_right {
	float: right; 
	margin: 0 0 0 10px;
}	

a.picPopup {
	border-bottom: 3px double silver;
	color: black;
	text-decoration: none;
}

a:hover.picPopup {
	border-bottom: 3px double blue;
	color: black;
	text-decoration: none;
}