.callout {
    font-family: 'Roboto+Condensed', Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #6F4A1B;
    color: #fff;
}

.email-signup {
    font-family: 'Roboto+Condensed', Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: rgb(142, 163, 179);
}