<img class="banner" src="../../../assets/images/banner_home.jpg" />
<section>
  <p>Welcome to <strong>Oriental Medicine and Health Services</strong> (OMHS) -Wilmington, Delaware's premiere stop for Oriental Medicine</p>
  <p>Here you will find information about OMHS, Brian C. Allen, and his practice, including:</p>
  <ul>
    <li>Acupuncture</li>
    <li>T'ai Chi (Taiji)</li>
    <li>Qigong (Ch'i Kung)</li>
    <li>Tuina Bodywork</li>
    <li>Chinese Herbology</li>
    <li>Low Cost Addiction Therapy</li>
  </ul>
  <p>What is Oriental Medicine?</p>
  <ul>
    <li>Oriental Medicine is a general term that applies to all of the various traditional medical practices of the Asian countries. At OMHS, the focus is on Chinese Medicine.</li>
    <li>Several styles of acupuncture are offered to best suit the individual.</li>
    <li>Chinese herbal medicine is also practiced at OMHS and can be a very important part of a treatment protocol.</li>
    <li>Tuina bodywork at OMHS is also both popular and useful, especially for musculoskeletal complaints.</li>
  </ul>
  <p class="callout">Call 302-792-2831 now to schedule and take advantage of a <i><strong>free</strong></i> consultation.  Free consultations usually last 15-30 minutes. You get a chance to discuss your health issues and goals with me, and I will give you an idea about what OMHS can do for you. I can also answer your questions about the various modalities and classes offered at OMHS.</p>
  <p>I have hours Monday through Friday at my Wilmington, Delaware location and on Sunday at my satellite location in Middletown, Delaware.</p>
</section>
<aside>
  <address>
    1201 Philadelphia Pike, Suite D<br>
    Wilmington, DE 19809<br>
    Phone/fax: 302-792-2831<br>
    <a href="mailto:info@omhs.biz">info@omhs.biz</a>
  </address>
  <div class="email-signup">
    <h4>Get Special Offers and Updates from OMHS</h4>
    <form id="ccoptin" name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" method="post" target="_blank">
      <input type="hidden" value="1102192541358" name="m"> 
      <input type="hidden" value="oi" name="p">
      <input id="addBar" placeholder="Email Address" name="ea"> 
      <button id="emailSubmit" type="submit">Sign Up</button>
    </form>
  </div>
  <p><a onclick="Javascript: window.open('http://www.acufinder.com/pract_email_signup.php?practitioner=63920', 'acuwindow2', 'height=390,width=256,location=no,scrollbars=no,resizable=no,toolbar=no,menubar=no,statusbar=no'); return false;" href="http://www.acufinder.com/pract_email_signup.php?practitioner=63920" target="_new">Sign up</a> for your FREE acupuncture newsletter. Includes latest news, studies, recipes and health tips.</p>
  <div class="sbObj">
    <p>Are you interested in Chinese Herbs for your pet?</p>
    <p>I have what you need. Click the links for my flyer (<a href="http://www.omhs.biz/files/herbsfordogs.jpg" target="_blank">JPG</a> or <a href="http://www.omhs.biz/files/herbsfordogs.pdf" target="_blank">PDF</a>).</p>
  </div>
  <div class="sbObj">
    <p>This website contains a wealth of basic information.</p>
    <p>My <span style="font-weight: bold;">BLOG</span>, therefore, is an important resource because I will keep updating that with more specific information, expanding on and adding to what I have here.</p>
    <p>You can also expect topical articles pertinent to all things Oriental Medicine.</p>
  </div>
</aside>
