<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/qigong.jpg" alt="Statue" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <img class="ancient-illustration" src="../../../assets/images/qigong_illustration.jpg" title="Ancient Illustration" alt="Ancient Illustration" />
    <h2>Qigong History</h2>
    <h3>2800 BCE to 200 BCE</h3>
    <ul>
        <li>Mostly Qigong for health
          <ul>
            <li>Many written references</li>
            <li>Little record of actual practices</li>
          </ul>
        </li>
        <li>Daoist &amp; Confucian
          <ul>
            <li>Keep selves healthy</li>
          </ul>
        </li>
        <li>Medical
          <ul>
            <li>Keep others healthy</li>
          </ul>
        </li>
      </ul>
      <h3><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-mawangdui-illustration">Mawangdui</a></h3>
      <h3>Characteristics</h3>
      <ul>
        <li>During this time period, the exercises were simple</li>
        <li>Chinese medical theory was not as well developed</li>
        <li>There were little or no spiritual aspects to the practice of Qigong</li>
      </ul>
      <h3>200 BCE to 500 CE</h3>
      <ul>
        <li>Buddhism from India spread through China
          <ul>
            <li>Pranayama</li>
          </ul>
        </li>
        <li>Spiritual Qigong developed</li>
        <li>The Path to Enlightenment</li>
        <li>Methods were kept secret</li>
        <li>Tibetan Buddhism</li>
        <li>Daoist Qigong evolved</li>
      </ul>
      <h3>Hua To</h3>
      <ul>
        <li>Famous physician</li>
        <li>Wu Qin Xi (5 animal frolics)</li>
      </ul>
      <h3>Characteristics</h3>
      <ul>
        <li>Qigong became more complex</li>
        <li>Chinese medical theory and qi circulation were better understood</li>
        <li>Therefore, the sets were more efficient than older sets</li>
        <li>Spiritual Qigong was not taught to laymen</li>
      </ul>
      <h3>500 CE to 1911 CE</h3>
      <ul>
        <li>Martial Qigong developed</li>
        <li>Damo came from India and traveled to the Shaolin Temple
          <ul>
            <li><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-martial-qigong-1">Yi Jin Jing</a> (Muscle / Tendon Changing Classic)</li>
            <li><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-martial-qigong-2">Xi Sui Jing</a> (Brain / Marrow Cleansing Classic)</li>
          </ul>
        </li>
        <li>Monks found these exercises increased their strength</li>
      </ul>
      <h3>Martial Qigong</h3>
      <ul>
        <li><a href="javascript:void()" class="tooltip" data-tip-type="html" data-tip-source="tooltip-animal-styles">5 animal styles</a>
          <ul>
            <li>Tiger, Leopard, Dragon, Snake, Crane</li>
          </ul>
        </li>
        <li>Waigong (external styles)</li>
      </ul>
      <h3>Neigong (Internal Styles)</h3>
      <ul>
        <li>Hard styles
          <ul>
            <li>Use Qigong to cultivate strength</li>
            <li>Use one’s own power to overcome others</li>
            <li>Hung Ga</li>
          </ul>
        </li>
        <li>Soft styles
          <ul>
            <li>Use Qigong to cultivate a strong, relaxed structure</li>
            <li>Iron wrapped in cotton</li>
            <li>Use softness to overcome opponent’s force</li>
            <li>T'ai Chi</li>
          </ul>
        </li>
      </ul>
      <h3>Chinese Medical Theory</h3>
      <ul>
        <li>Chinese Medical theory matured and reached an apex</li>
        <li>Added to the complexity and efficacy of Qigong</li>
        <li>affected all 3 branches
          <ul>
            <li>Spiritual, Martial, and Medical</li>
          </ul>
        </li>
      </ul>
      <h3>Waiqi</h3>
      <ul>
        <li>External Qigong healing</li>
        <li>Practitioner uses own qi to affect the qi of another for health benefits</li>
        <li>Based on Chinese Medical theory</li>
        <li>No touching is involved</li>
      </ul>
      <h3>Characteristics</h3>
      <ul>
        <li>Qigong became intertwined with martial arts, giving rise to martial qigong</li>
        <li>Chinese medical theory peaked, and medical qigong became more widespread</li>
        <li>Spiritual Qigong was still being kept secret</li>
        <li>Qigong was generally becoming more popular</li>
      </ul>
      <h3>1911 CE to Present</h3>
      <ul>
        <li>Founding of the Chinese Republic</li>
        <li>Later, the People's Republic of China</li>
        <li>Qigong has become more popular and widespread
          <ul>
            <li>Mass communication</li>
            <li>Old texts made available to public, secrets revealed</li>
          </ul>
        </li>
        <li>Exchange of ideas with India, Japan, Korea</li>
        <li>Modern scientific research</li>
      </ul>

    <div id="tooltip-container"></div>
    <div class="tooltip-html">
      <div id="tooltip-mawangdui-illustration"><img src='../../../assets/images/qigong_mawangdui.jpg' alt="Mawangdui Illustration"/><em>Mawangdui Illustration</em></div>
      <div id="tooltip-martial-qigong-1"><img src='../../../assets/images/qigong_martial_02.jpg' alt="Yi Jin Jing"/><em>Martial Qigong (Yi Jin Jing)</em></div>
      <div id="tooltip-martial-qigong-2"><img src='../../../assets/images/qigong_martial_01.jpg' alt="Xi Sui Jing"/><em>Martial Qigong (Xi Sui Jing)</em></div>
      <div id="tooltip-animal-styles"><img src='../../../assets/images/qigong_5_animals.jpg' alt="5 Animal Styles"/><em>5 Animal Styles</em></div>
    </div>
  </main>
</div>