<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" alt="Acupuncture Needles" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Acupuncture &mdash; Frequently Asked Questions</h2>
    <h3>Does Acupuncture really work?</h3>
    <ul>
      <li>Yes, it does.</li>
      <li>Documented successes for over 2000 years.</li>
      <li>The World Health Organization officially recognizes Acupunctureas a genuine healing modality and suitable treatment method for over 200 common clinical disorders.</li>
    </ul>
    <h3>Is Acupuncture safe?</h3>
    <ul>
      <li>Yes, and serious injury is extremely rare.</li>
      <li>Normal risks:
        <ul>
          <li>Local pain, bruising, bleeding, or hematoma formation.</li>
          <li>Syncope or presyncope - aka needle sickness.</li>
        </ul>
      </li>
      <li>Risks due to incompetency:
        <ul>
          <li>Pneumothorax, cardiac trauma, damage to neural and vascular structures, and infection.</li>
        </ul>
      </li>
    </ul>
    <h3>When should Acupuncture not be used?</h3>
    <ul>
      <li>Needle phobic or uncooperative</li>
      <li>Positional intolerance</li>
      <li>Septic or extremely weakened</li>
      <li>Intoxication, delusions, hallucinations, or extreme paranoia</li>
      <li>Cellulitis, burns, ulcerations - locally</li>
      <li>Hemophilia or other severe bleeding disorders</li>
    </ul>
    <h3>Does Acupuncture hurt?</h3>
		<ul>
			<li>Little or no discomfort with insertion
				<ul>
					<li>A small pinch-like feeling</li>
					<li>Free-hand or with a guide tube</li>
				</ul>
			</li>
			<li>Qi reaction (deqi – arrival of qi)
				<ul>
					<li>Pressure, ache, distention, tingling, itch, warmth, coolness - local, referred, or radiating.</li>
					<li>Some people feel nothing.</li>
					<li>It is important that the practitioner feel the qi.</li>
				</ul>
			</li>
		</ul>
		<h3>How do I prepare for a treatment?</h3>
		<ul>
			<li>Be neither on an empty nor a full stomach.</li>
			<li>Do not be intoxicated.</li>
			<li>Try to be relaxed.</li>
			<li>If you have a long or stressful drive, arrive early enough to give yourself time to wind down.</li>
			<li>Schedule minimal mental and physical stress for after the treatment.</li>
		</ul>
		<h3>How many needles do I need?</h3>
		<ul>
			<li>That depends on both the style / experience of the practitioner, and the type of condition.
				<ul>
					<li>Musculoskeletal treatments tend to require more needles, maybe 15-30 depending on the area(s) treated.</li>
					<li>Something like a headache, insomnia, or diarrhea might take 6-12 needles.</li>
					<li>Certain types of treatments only use 1 or 2 needles.</li>
				</ul>
			</li>
		</ul>
		<h3>How many treatments do I need?</h3>
		<ul>
			<li>That depends on both the type of condition and how well you respond to treatment.</li>
			<li>Acute conditions usually require less treatments, but they should be closer together, sometimes several in one week.</li>
			<li>Chronic conditions usually require more treatments and can be scheduled further apart, such as a week or even more providing progress is still being maintained.</li>
			<li>Some conditions can be "cured" and would require no treatments after the initial course.</li>
			<li>Other conditions may require regular occasional maintenance treatments after the initial course(s) of treatment get the condition under control and out of the acute or severe stage.</li>
		</ul>
  </main>
</div>