<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/tai_chi.jpg" alt="People doing T'ai Chi" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>T’ai Chi</h2>
    <h3>What is T’ai Chi?</h3>
    <ul>
      <li>Originally a martial art
        <ul>
          <li>Chen family village, China</li>
          <li>Chen Wangting (1600-1680)</li>
        </ul>
      </li>
      <li>Based on thousands of years of Chinese history, culture, medical theory, and philosophy.</li>
      <li>Now popularly taught and practiced as a health exercise.</li>
    </ul>
    <img class="float-right" src="../../../assets/images/tai_chi_hanzi.png" alt="T'ai Chi Hanzi" />
    <h3>Neijia (Internal Gongfu Styles)</h3>
    <ul>
      <li>Soft styles
        <ul>
          <li>Use Qigong to cultivate a strong, relaxed structure</li>
          <li>Iron wrapped in cotton</li>
          <li>Use softness to overcome opponent’s force</li>
          <li>3 main styles of internal martial arts
            <ul>
              <li>T’ai Chi Ch’uan</li>
              <li>Xingyiquan</li>
              <li>Baguazhang</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h3>5 Styles of T’ai Chi</h3>
		<ul>
			<li>Chen</li>
			<li>Yang
				<ul>
					<li>37-posture form</li>
					<li>Zheng Manqing</li>
					<li>Taught at OMHS</li>
				</ul>
			</li>
			<li>Wu</li>
			<li>Wu Hao</li>
			<li>Sun</li>
			<li>Also modern wushu t&rsquo;ai chi
				<ul>
					<li>Standardized competition routines</li>
					<li>Combines aspects of the 5 styles</li>
				</ul>
			</li>
		</ul>
		<h3>T'ai Chi Ch'uan...What is Ch'uan?</h3>
		<ul>
			<li>Ch'uan literally means "fist"</li>
			<li>It is used when referring to various "styles" or “systems” of martial arts</li>
		</ul>
		<h3>T'ai Chi Ch'uan or Taijiquan?</h3>
		<ul>
			<li>T'ai Chi Ch'uan - older outdated Wade-Giles transliteration
				<ul>
					<li>Sounds like "tie gee chwen"</li>
					<li>NOT "tie chee chwen"</li>
					<li>Apostrophe after consonants makes "hard" sounds
						<ul>
							<li>t' = "t"</li>
							<li>ch' = "ch"</li>
						</ul>
					</li>
					<li>No apostrophe after consonants makes "soft" sounds
						<ul>
							<li>t = "d"</li>
							<li>ch = "j"</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<h3>Modern Transliteration</h3>
		<ul>
			<li>Taijiquan - pinyin transliteration
				<ul>
					<li>Still sounds like "tie gee chwen"</li>
					<li>q = "ch"</li>
				</ul>
			</li>
			<li>Same exact Chinese calligraphy (hanzi)</li>
			<li>This is the modern correct and official method</li>
			<li>OMHS uses pinyin for most Chinese transliteration except for "T'ai Chi" because that is what the USA public is used to seeing.</li>
		</ul>
  </main>
</div>