<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" alt="Acupuncture Needles" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2>Acupuncture Points</h2>
    <ul>
      <li>Xue (cavities) in Chinese.</li>
      <li>Areas near the surface of the body from which the qi is accessible.
        <ul>
          <li>Small as a millimeter to as large as a quarter.</li>
        </ul>
      </li>
      <li>361 points on Meridians, not counting bilateral pairs.</li>
      <li>40 main "extra" points not located on Meridians.</li>
      <li>"Ahshi" points - where it hurts, can be anywhere.</li>
      <li>Traditional functions and indications.
        <ul>
          <li>More than one function, sometimes seemingly unrelated (plus combinations with other points).</li>
          <li>Control qi and blood of the local area.</li>
        </ul>
      </li>
      <li>Traditional locations
        <ul>
          <li>Based on precise anatomical measurements and anatomical landmarks.</li>
        </ul>
      </li>
      <li>Traditional ways to needle each point.
        <ul>
          <li>Angle and depth of needle</li>
          <li>Needle technique</li>
        </ul>
      </li>
    </ul>
    <img class="float-right" src="../../../assets/images/Lu.gif" alt="LU Meridian Points" />
    <h3>Acupuncture Point Categories</h3>
    <ul>
      <li>yuan (source)</li>
      <li>luo (connecting)</li>
      <li>xi (cleft)</li>
      <li>8 hui (meeting)</li>
      <li>6 lower he (sea)</li>
      <li>8 jiaohui (confluent/8 EM)</li>
      <li>4 command</li>
      <li>12 mu (alarm/front)</li>
      <li>shu (associated/back)</li>
      <li>5 shu (transporting)</li>
      <li>jiaohui (intersection)</li>
      <li>huato jiaji (paravertebral)</li>
      <li>9 needles for returning yang</li>
      <li>12 heavenly star points</li>
      <li>13 ghost points</li>
      <li>ashi points</li>
    </ul>
    <h3>A Typical Meridian Point</h3>
    <ul>
      <li>LU-6 (Lung-6)
        <ul>
          <li>kong zui – maximum opening</li>
          <li>xi-cleft point</li>
        </ul>
      </li>
      <li>Location
        <ul>
          <li>On the flexor aspect of the forearm, 7 cun proximal to LU-9, on the line connecting LU-9 with LU-5.</li>
        </ul>
      </li>
      <li>Needling Method
        <ul>
          <li>Perpendicular or oblique insertion 0.5 to 1.5 cun.</li>
        </ul>
      </li>
      <li>Actions
        <ul>
          <li>Disseminates and descends Lung qi.</li>
          <li>Clears heat and moistens the Lung.</li>
          <li>Clears heat and stops bleeding.</li>
          <li>Moderates acute conditions.</li>
        </ul>
      </li>
      <li>Indications
        <ul>
          <li>Cough, wheezing, asthma, chest pain, swelling and pain of the throat, loss of voice, febrile disease with absence of sweating.</li>
          <li>Coughing blood, spitting blood, vomiting blood, hiccup.</li>
          <li>Severe pain of the elbow and upper arm, inability to raise the arm above the head, difficulty in flexing and extending the fingers, epigastric pain, hemorrhoids, headache, clonic spasm.</li>
        </ul>
      </li>
    </ul>
  </main>
</div>