<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/qigong.jpg" alt="Statue" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <h2><img src="../../../assets/images/qigong_letters.png" alt="Qigong" title="Qigong" align="middle" />  Qigong</h2>
    <h3>What is Qigong?</h3>
		<ul>
			<li>Ancient Chinese health care system.</li>
			<li>Integrates physical postures, breathing techniques, and focused mental intention (yi).</li>
			<li>Literally the cultivation and development of Qi through work (Qi work).</li>
		</ul>
		<h3>What is Qi?</h3>
		<ul>
			<li>Vital energy, so that we may function.</li>
			<li>The various functions themselves.</li>
			<li>Pre-natal qi / jing (refined qi)
				<ul>
					<li>Born with certain amount</li>
					<li>Hereditary constitution</li>
				</ul>
			</li>
			<li>Post-natal qi / jing
				<ul>
					<li>Acquired through eating, drinking, and breathing.</li>
					<li>Qigong</li>
				</ul>
			</li>
		</ul>
		<h3>Qigong or Ch'i Kung?</h3>
		<ul>
			<li>Qigong - pinyin transliteration
				<ul>
					<li>Sounds like chee gong.</li>
				</ul>
			</li>
			<li>Ch'i Kung - older Wade-Giles transliteration
				<ul>
					<li>Still sounds like chee gong.</li>
					<li>Apostrophe after consonants makes "hard" sounds.</li>
					<li>No apostrophe after consonants makes "soft" sounds.</li>
				</ul>
			</li>
			<li>Same exact Chinese calligraphy (hanzi).</li>
		</ul>
		<h3>Types and Styles of Qigong</h3>
		<ul>
			<li>3 main types
				<ul>
					<li>Martial</li>
					<li>Spiritual</li>
					<li>Medical</li>
				</ul>
			</li>
			<li>Hundreds of styles.</li>
			<li>Thousands of exercises.</li>
			<li>OMHS focuses on Qigong for health.</li>
		</ul>
		<h3>Qigong vs. T'ai Chi</h3>
		<ul>
			<li>Physical aspects of Qigong are more quickly learned.</li>
			<li>Mental intention (yi) aspects of Qigong are focused on more immediately.</li>
			<li>Qigong and T’ai Chi classes at OMHS are designed to integrate with one another.</li>
			<li>Both have similar health goals and benefits.</li>
		</ul>
  </main>
</div>