<div class="page-grid">
  <section *ngIf="!sizeMobile">
    <img class="banner" src="../../../assets/images/acupuncture_needles.jpg" alt="Acupuncture Needles" />
  </section>
  <nav role="navigation" *ngIf="!sizeMobile">
    <app-nav-secondary></app-nav-secondary>
  </nav>
  <main>
    <img class="float-right" src="../../../assets/images/meridians_thumb.png" alt="Meridians" />
    <h2>Acupuncture Meridians</h2>
    <ul>
      <li>Most people are only familiar with the 12 Primary plus 2 of the Extraordinary Meridians.</li>
      <li>Those 14 Meridians all have their own unique acupuncture points.</li>
      <li>Other Meridians either have no points or "borrow" points from other Meridians.</li>
      <li>There are 72 Meridians in all.</li>
    </ul>
    <h3>12 Primary Meridians</h3>
    <ul>
      <li>Internal and external pathways.</li>
      <li>6 yin and 6 yangs.</li>
      <li>Bilaterally symmetrical.</li>
      <li>Circulation of qi and blood throughout is cyclical.</li>
    </ul>
    <h3>12 Divergent Meridians</h3>
    <ul>
      <li>Named after and related to the Primary Meridians.</li>
      <li>Provide deeper connections in the body, to the organs, head, and face, and to the yang Meridians of each yin/yang pair.</li>
    </ul>
    <h3>12 Tendinomuscular Meridians</h3>
    <ul>
      <li>Named after and related to the Primary Meridians.</li>
      <li>Broader areas than the Primary Meridians.</li>
      <li>Circulation of qi and blood to the muscles, tissues, joints, and the body surface.</li>
    </ul>
    <h3>12 Cutaneous Regions</h3>
    <ul>
      <li>Named after and related to the Primary Meridians.</li>
      <li>Broader areas than the Primary Meridians.</li>
      <li>Circulation of qi and blood to the skin and tissues of the body surface.</li>
      <li>No internal distribution.</li>
    </ul>
    <h3>8 Extraordinary Meridians</h3>
    <ul>
      <li>Distributed throughout body except in the upper extremities.</li>
      <li>Store qi and blood and distribute to the 12 Primary Meridians.</li>
      <li>Control and supplement the 12 Primary Meridians</li>
      <li>Only 2 of the Extraordinary Meridians have their own points.
        <ul>
          <li>Du (Governing) Meridian—midline of the back of the body.</li>
          <li>Ren (Conception) Meridian—midline of the front of the body.</li>
        </ul>
      </li>
    </ul>
    <h3>16 Major Luo (Collateral) Meridians</h3>
    <ul>
      <li>12 are named after and related to the 12 Primary Meridians.</li>
      <li>The Spleen and Stomach Meridians each have an extra Major Luo Meridian.</li>
      <li>2 are named after and related to 2 of the Extraordinary Meridians: Du, Ren.</li>
      <li>Distribution is mainly to the surface of the body and between yin/yang paired Meridians.</li>
      <li>Many Small Luo Meridians.
        <ul>
          <li>Minute, blood, grandson, and superficial.</li>
        </ul>
      </li>
      <li>Yin Qiao and Yang Qiao Meridians.
        <ul>
          <li>2 of the 8 Extraordinary Meridians.</li>
          <li>They "borrow" Acupuncture points from other Meridians.</li>
        </ul>
      </li>
    </ul>
  </main>
</div>